<div class="headline">
  <% if comment.new_record? %>
    <span class="position">New comment as</span>
  <% end %>
  <span class="name">
    <%# if comment.user %>
      <%#= link_to comment.user.username, comment.user %>
    <%# else %>>New comment a
      <%= link_to_unless comment.site_url.blank?, comment.f_name, fix_url(comment.site_url), :rel => "nofollow" %>
    <%# end %>
  <% if params[:controller] != "book" %>
  		<%#= link_to comment, book_path%>
         <%#= link_to comment, book_path%> <!--(comment.book, :view => "comments", :anchor => "comment_#{comment.id}") --!>
   <% end %> 
  </span>
  <% unless comment.created_at.nil? %>
  	<%#= link_to book_path, :class => "created_at" do %>
    <%= link_to book_path(comment.book, :view => "comments", :anchor => "comment_#{comment.id}"), :class => "created_at" do %>
      <% if params[:controller] == "book" %>
        <%= time_ago_in_words comment.created_at %> ago
      <% else %>
        <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%I") %>
      <% end %>
    <% end %>
  <% end %>
    
</div>
