<div class="similar">
  <div class="full">
    <%#= render @book.same_books(@book) %>
    <% book_li = @book.same_books(@book) %>
    <p> We have <b><%= book_li.count%></b> similar books in our Store</p>
    <% book_li.each do |book_item|%>
    <%= link_to book_item.name, book_path(book_item.id)%></br>
    <%end%>
  </div>
</div>
